@import url('css-reset.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --color-red: hsl(0, 100%, 74%);
    --color-green: hsl(154, 59%, 51%);
    --color-blue: hsl(248, 32%, 49%);
    --color-dark-blue: hsl(249, 10%, 26%);
    --color-grayish-blue: hsl(246, 25%, 77%);
    --color-white: hsl(0, 0%, 100%);
    --font-weight-four: 400;
    --font-weight-five: 500;
    --font-weight-six: 600;
    --font-weight-seven: 700;
}

body {
    font-family: 'Poppins',
        sans-serif;
    background: url('/images/bg-intro-mobile.png') var(--color-red);
}

.container {
    max-width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 70px;
}

header h1 {
    color: var(--color-white);
    font-weight: var(--font-weight-six);
    font-size: 1.7em;
    padding: 50px 50px 20px 50px;
    margin-left: 50px;
    line-height: 1.2;
}

.first-para {
    max-width: 17rem;
}

.main-paragraph {
    color: var(--color-white);
    font-weight: var(--font-weight-four);
    font-size: 0.85em;
    margin-bottom: 50px;
    line-height: 2;
}

.second-line {
    margin-left: 13px;
}

.third-line {
    margin-left: 20px;
}

.invaluable {
    margin-left: 92px;
}

.try-box {
    width: 270px;
    height: 65px;
    background-color: var(--color-blue);
    border-radius: 10px;
    color: var(--color-white);
    text-align: center;
    padding: 15px;
    font-size: 0.8em;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.29);
}

.try-box p:not(.try) {
    font-weight: var(--font-weight-four);
}

.try {
    font-weight: var(--font-weight-six);
}

.claim-form {
    width: 270px;
    background-color: var(--color-white);
    height: 420px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.29);
    margin-bottom: 30px;
}

#first-name,
#last-name,
#email,
#password {
    width: 240px;
    padding: 7px;
    margin: 13px 0 -20px 15px;
    color: var(--color-dark-blue);
    /* opacity for firefox */
    opacity: 90%;
    font-size: 0.7em;
    font-weight: var(--font-weight-six);
    outline: none;
    border: 1px solid;
    border-radius: 5px;
}

.error-img {
    visibility: hidden;
    position: relative;
    left: 220px;
    bottom: 21px;
    height: 16px;
    width: 16px;
}

.err {
    visibility: hidden;
    color: var(--color-red);
    font-style: italic;
    font-size: 0.7em;
    margin-left: 90px;
    margin-top: -7px;
}

.helper {
    margin-top: 15px;
}

.claim-btn {
    width: 240px;
    margin: 13px 0 13px 15px;
    padding: 12px;
    color: var(--color-white);
    border-radius: 5px;
    border: 1px;
    background-color: var(--color-green);
    font-size: 0.8em;
    font-weight: var(--font-weight-four);
    -webkit-box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.29);
    cursor: pointer;
}

.claim-btn:active {
    opacity: 50%;
}

.agree {
    font-size: 0.6em;
    color: var(--color-grayish-blue);
    margin-left: 35px;
}

.terms {
    color: var(--color-red);
    font-weight: var(--font-weight-six);
    margin-left: 65px;
    cursor: pointer;
}

@media (min-width: 768px) {

    body {
        background: url('/images/bg-intro-desktop.png') var(--color-red);
    }

    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        max-width: 1440px;
        position: relative;
    }

    header h1 {
        font-size: 2.5em;
        width: 35rem;
        margin-right: 200px;
        line-height: 1.2;
        font-weight: var(--font-weight-seven);
        position: absolute;
        top: 10rem;
        left: 3rem;
    }

    .first-para {
        max-width: 27rem;
        position: absolute;
        right: 54rem;
        top: 21rem;
    }

    .second-line {
        margin-left: 0;
    }

    .third-line {
        margin-left: 0;
    }

    .invaluable {
        margin-left: 0;
    }

    .try-box {
        position: absolute;
        top: 2rem;
        width: 450px;
        right: 23rem;
        font-size: 0.9em;
    }

    .try-box p {
        margin-top: 5px;
        white-space: nowrap;
    }

    .try-box br {
        display: none;
    }

    .claim-form {
        position: absolute;
        width: 450px;
        height: 500px;
        top: 7rem;
        right: 23rem;
    }

    #first-name,
    #last-name,
    #email,
    #password {
        width: 390px;
        padding: 12px;
        margin-left: 25px;
        margin-top: 17px;
        margin-bottom: 5px;
        font-size: 1em;
    }

    .helper {
        margin-top: 17px;
    }

    .error-img {
        position: relative;
        bottom: 38px;
        left: 370px;
        visibility: hidden;
    }

    .err {
        margin-left: 297px;
        font-size: 0.5em;
        /* margin-top: 1px; */
        visibility: hidden;
    }

    .claim-btn {
        width: 390px;
        margin-left: 25px;
        padding: 15px;
    }

    .agree {
        margin-left: 70px;
    }

    .terms {
        margin-left: 0;
    }
}